<pre>

Current values:
	
@A: <%= @a %>
@B: <%= @b %>
@C: <%= @c %>

Click here to see that templates in nested subfolders can see variables from nested example data: <a href='nested_subfolder/nested.html'>nested_subfolder/nested.html</a>


....also, Look! a @list_of_stuff:
<% @list_of_stuff.each do |item,i| %> Entry <%= i %>: <%= item %>
<% end %>


</pre>